<%- partial('common/header_tpl') %>

<body>
  <%- partial('article/title_tpl') %>
  <%- partial('article/content_tpl') %>
  <%- partial('article/signature_tpl') %>
  <%- partial('article/footer_tpl') %>
</body>
